<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.test.boardMapper">
  <!-- 로그인 처리를 위한 SQL -->
  <select id="login" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT id, name
	FROM springuser
	WHERE id=#{id } and password=#{password }
  </select>
  <select id="list" resultType="kr.co.test.board.BoardDTO">
    SELECT * FROM board
    Order by bno desc
	
  </select>
  <select id="detail" parameterType="int" resultType="kr.co.test.board.BoardDTO">
    SELECT * FROM board
	where bno = #{bno }
  </select>
  <select id="register" parameterType="kr.co.test.board.BoardDTO" resultType="int">
    INSERT INTO board(title, content, id, regdate)
	VALUES (#{title }, #{content}, #{id}, #{regdate})
  </select>
  <select id="update" parameterType="kr.co.test.board.BoardDTO" resultType="int">
    UPDATE board
    SET title = #{title }, content = #{content}
	WHERE bno = #{bno}
  </select>
  <select id="delete" parameterType="int" resultType="int">
    delete FROM board
	where bno = #{bno }
  </select>
  <!-- 해당 게시글번호에 댓글 조회하는 SQL 댓글리스트-->
  <select id="detail1" parameterType="int" resultType="BoardReply">
  	select *
  	from board_reply
  	where bno = #{bno}
  
  </select>
  <!-- 댓글쓰기 -->
  <insert id="reply" parameterType="BoardReply">
  	insert into
  	board_reply(reno, rewriter, rememo, redate, bno)
  	values (#{reno},#{rewriter}, #{rememo}, curdate(), #{bno})
  </insert>
  <!-- 해당 댓글 조회 SQL -->
  <select id="detailReply" parameterType="int" resultType="BoardReply">
  	select *
  	from board_reply
  	where reno = #{reno}
  </select>
  <!-- 댓글 수정 -->
  <update id="replyUpdate" parameterType="BoardReply">
  	update board_reply
  	set rewriter = #{rewriter}, rememo = #{rememo}, redate = curdate()
  	where reno = #{reno}
  </update>
  <!-- 댓글 삭제 -->
  <delete id="replyDelete" parameterType="int">
  	delete from board_reply
  	where reno = #{reno}
  </delete>
  
  
</mapper>