<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dong.empMapper">
  <select id="cnt" resultType="int">
    select count(*) from emp
  </select>
  <!-- 전체사원 정보조회 -->
  <select id="listAll" resultType="EmpDTO">
	select * from emp  
  </select>
  <!-- 사원코드로 사원정보조회 -->
  <select id="selectOne" parameterType="int" resultType="EmpDTO">
  	select * from emp
  	where empno = #{empno}
  </select>
  <!-- 사원추가하기 -->
  <select id="insert" parameterType="EmpDTO">
  	insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno)
  	values (#{empno}, #{ename}, #{job}, #{mgr}, #{hiredate}, #{sal}, #{comm}, #{deptno}) 
  </select>
</mapper>